{% extends 'layout.html' %}

{% block title %}
   <title>Saved Page</title>
{% endblock %}

{% block content %}
<center><h1>Saved Houses</h1></center>
<table class="table">
   <thead>
     <tr>
       <th scope="col">Monthly Rent</th>
       <th scope="col">Number Of Bedrooms</th>
       <th scope="col">Number of Bathrooms</th>
       <th scope="col">Sq. Ft</th>
       <th scope="col">Address</th>
       <th scope="col">Description</th>
       <th scope="col">Contact Number</th>
       <th scope="col">Actions</th>
     </tr>
   </thead>
   <tbody>
   {% for i in obj %}
     <tr>
       <td>{{ i.rent }}</td>
       <td>{{ i.beds }}</td>
       <td>{{ i.baths }}</td>
       <td>{{ i.square_feet }}</td>
       <td>{{ i.address }}</td>
       <td>{{ i.description }}</td>
       <td>{{ i.contact }}</td>
       <td>
           {% if i.oid %}
               <button class="btn btn-warning">
                   <a href="{% url 'update_url' i.oid %}">Update</a>
               </button>&nbsp;&nbsp;
               <button class="btn btn-danger">
                   <a href="{% url 'delete_url' i.oid %}">Delete</a>
               </button>
           {% else %}
               <span>Action unavailable</span>
           {% endif %}
       </td>
     </tr>
   {% endfor %}
   </tbody>
</table>
{% endblock %}
